@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-ExtraLight.otf');
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url('../fonts/Montserrat-Regular.otf');
}

body {
    margin: 0;
    background: #000;
    font-family: Montserrat;
    min-width: 450px;
}

* {
    color: white;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header,
footer,
article,
section {
    display: block;
}

.clearfix {
    clear: both;
}

.hidden {
    display: none;
}

svg[src*='.svg'] {
    display: none;
}

header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

footer {
    display: block;
    margin: 0px auto;
}
