#navbar-logo {
    background: url('../images/layout/logo-white.png');
    background-size: auto 50px;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
}

#mainNavbar > li > a {
    text-transform: uppercase;
}

.text-shadow {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mainNavbar > li > a {
    text-transform: uppercase;
}
