 @font-face {
     font-family: Monstserrat;
     src: url('../fonts/Montserrat-Regular.otf');
 }
 
 @font-face {
     font-family: Monstserrat;
     font-weight: bold;
     src: url('../fonts/Montserrat-Bold.otf');
 }
 
 body {
     margin: 0;
     background: #000;
     font-family: Monstserrat;
 }
 
 video {
     position: fixed;
     top: 50%;
     left: 50%;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -100;
     transform: translateX(-50%) translateY(-50%);
     background: url('../images/layout/background.jpg') no-repeat;
     background-size: cover;
     transition: 1s opacity;
     opacity: .5;
 }
 
 .clearfix {
     clear: both;
 }
 
 #logo {
     float: left;
     margin-top: 20px;
     margin-left: 20px;
     width: 350px;
 }
 
 #logo svg path {
     fill: #ffffff;
 }
 
 nav#welcome ul {
     float: left;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }
 
 nav#welcome li {
     float: left;
 }
 
 nav#welcome li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     text-transform: uppercase;
 }
