#news .container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#news .cell {
    float: left;
    width: 50%;
    height: 100%;
}

#news .cell.right {
    margin-right: -1px;
}

#news .cell-wrapper {
    margin: 10px 30px 30px 30px;
    height: 100%;
}

#news .media {
    margin-top: 10px;
}

#news .cell .media > * {
    width: 100%;
    height: 400px;
}

#news .cell-small {
    width: 100%;
    padding: 10px 0 10px 0;
}

#news .cell h5 {
    display: block;
    width: 100%;
    border-bottom: 1px solid #282828;
    padding-bottom: 6px;
    margin-bottom: 10px;
}

#news .cell h5 small {
    font-size: 0.9em;
    color: #555555;
    display: block;
    float: right;
}

#news .cell-small h6 {
    display: block;
    border-bottom: 1px solid #282828;
    margin-bottom: 10px;
}

#news .cell-small a {
    display: block;
    padding: 10px 6px 10px 6px;
}

#news .cell-small a:hover {
    background: #282828;
}

#news .cell-small p {
    padding: 0 10px 0 10px;
}

#news .cell-small h6 small {
    font-size: 0.7em;
    color: #555555;
    display: block;
    float: right;
}
