#bgvideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -100;
    opacity: .3;
}

#logo {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 280px;
}

#logo svg path {
    fill: #ffffff;
}

nav#welcome {
    width: 100%;
}

nav#welcome div {
    margin: 30px 120px 0 320px;
    text-align: center;
}

nav#welcome ul {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}

nav#welcome li {
    float: left;
    margin: 0 20px;
    padding: 5px 5px;
}

nav#welcome li a {
    display: block;
    text-align: center;
    margin: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

svg.underline {
    display: none;
}

nav#welcome a:hover + .underline {
    display: block;
}

#socialPanel {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 65px;
}

#socialPanel ul {
    list-style-type: none;
    margin: 0;
}

#socialPanel li {
    width: 50px;
    margin: 0px auto;
    padding-bottom: 7px;
}

#socialPanel li:hover {
    width: 65px;
}

#socialPanel li:hover svg [fill='#c0bfbf'] {
    fill: #a8835e;
}

#socialPanel li:hover svg [fill='#414141'] {
    fill: #ffffff;
}

#joinUsPanel {
    position: absolute;
    bottom: 50px;
    right: 0px;
    width: 500px;
}

#joinUsPanel a {
    display: block;
    width: 280px;
    margin: 10px 0px 10px 80px;
}
