#bgvideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -100;
    background: url('../images/layout/background.jpg') no-repeat;
    background-size: cover;
    opacity: .3;
}

#logo {
    float: left;
    margin: 25px;
    width: 280px;
}

#logo svg path {
    fill: #ffffff;
}

nav {
    float: left;
    width: 65%;
}

nav#welcome ul {
    float: right;
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
}

nav#welcome li {
    float: left;
    margin: 0 20px;
    padding: 5px 5px;
}

nav#welcome li a {
    display: block;
    text-align: center;
    margin: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

svg.underline {
    display: none;
}

nav#welcome a:hover + .underline {
    display: block;
}

social-panel {
    float: right;
    width: 100px;
}

social-panel ul {
    list-style-type: none;
    margin: 25px 25px 0 0;
}

social-panel li {
    width: 50px;
    margin: 0px auto;
    padding-bottom: 7px;
}

social-panel li:hover {
    width: 65px;
}

social-panel li:hover svg [fill='#c0bfbf'] {
    fill: #a8835e;
}

social-panel li:hover svg [fill='#414141'] {
    fill: #ffffff;
}
