@import '../assets/bootstrap/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Oswald|Montserrat');

a:not([href='']),
a:focus,
a:hover {
  color: #005999;
  text-decoration: none;
}

a:hover {
  color: #07Cfff;
}

a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}

body {
  min-width: 330px;
  background-color: black;
  font-family: Montserrat;
}

.page {
  margin: 20px 0;
}

.page-anchor {
  position: relative;
  top: -35px;
}

img,
svg {
  width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

header,
footer,
article,
section {
  display: block;
}

header {
  height: 100vh;
  overflow: hidden;
}

footer {
  display: block;
  margin: 0px auto;
  text-align: center;
  line-height: 100px;
}

h3 {
  border-top: 1px solid grey;
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 4em;
  padding-top: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h5 {
  font-size: 1.6em;
  font-weight: normal;
}

h6 {
  font-size: 1.4em;
  font-weight: normal;
}

iframe {
  border: 0;
}

.navbar.top {
  margin-top: 100vh;
}

@import 'welcome.scss';
