.courses {
	.card {
		margin-bottom: 20px;
		border-radius: 3px;
		border-color: white;
		background: none;
	}
}

$soulnewbies: rgb(95.9, 67.5, 65.0);
$soulstarters: rgb(82.4, 71.7, 60.5);
$soulrookies: rgb(88.7, 91, 88.1);
$soulgyals: rgb(84.5, 83.9, 87.6);
$soulpoppers: rgb(63.6, 69.9, 61.9);
$soulogs: rgb(100, 93.7, 84.2);
$soulmastas: rgb(83.4, 87.9, 91.6);
$soulmamaspapas: rgb(114, 103, 42);
$soulfreestyle: rgb(255, 255, 255);
$soulcrew: rgb(90.6, 75.3, 51.4);

.courses {
	.card {
		border: none;

		&.soulshow {
			border: 1px solid white;
		}
	}

	.soulnewbies {
		background: rgba($soulnewbies, 1) !important;
	}

	.soulstarters {
		background: rgba($soulstarters, 1) !important;
	}

	.soulrookies {
		background: rgba($soulrookies, 1) !important;
	}

	.soulgyals {
		background: rgba($soulgyals, 1) !important;
	}

	.soulpoppers {
		background: rgba($soulpoppers, 1) !important;
	}

	.soulogs {
		background: rgba($soulogs, 1) !important;
	}

	.soulmastas {
		background: rgba($soulmastas, 1) !important;
	}

	.soulmamaspapas {
		background: rgba($soulmamaspapas, 1) !important;
	}

	.soulfreestyle {
		background: rgba($soulfreestyle, 0.2) !important;
	}

	.soulcrew {
		background: rgba($soulcrew, 1) !important;
	}
}

.schedule {

	.time-block {
		border: 3px solid black;
	}

	.soulnewbies {
		border-color: rgba($soulnewbies, 1) !important;
		background: rgba($soulnewbies, 0.6) !important;
	}

	.soulstarters {
		border-color: rgba($soulstarters, 1) !important;
		background: rgba($soulstarters, 0.6) !important;
	}

	.soulrookies {
		border-color: rgba($soulrookies, 1) !important;
		background: rgba($soulrookies, 0.6) !important;
	}

	.soulgyals {
		border-color: rgba($soulgyals, 1) !important;
		background: rgba($soulgyals, 0.6) !important;
	}

	.soulpoppers {
		border-color: rgba($soulpoppers, 1) !important;
		background: rgba($soulpoppers, 0.6) !important;
	}

	.soulogs {
		border-color: rgba($soulogs, 1) !important;
		background: rgba($soulogs, 0.6) !important;
	}

	.soulmastas {
		border-color: rgba($soulmastas, 1) !important;
		background: rgba($soulmastas, 0.6) !important;
	}

	.soulmamaspapas {
		border-color: rgba($soulmamaspapas, 1) !important;
		background: rgba($soulmamaspapas, 0.6) !important;
	}

	.soulfreestyle {
		border-color: rgba($soulfreestyle, 0.3) !important;
		background: rgba($soulfreestyle, 0.2) !important;
	}

	.soulcrew {
		border-color: rgba($soulcrew, 1) !important;
		background: rgba($soulcrew, 0.6) !important;
	}
}
