.soulnewbies {
    background: rgba(255, 192, 203, 0.5);
}

.soulstarters {
    background: rgba(38, 210, 38, 0.6);
}

.soulrookies {
    background: rgba(163, 97, 80, 0.5);
}

.soulgyals {
    background: rgba(246, 246, 24, 0.6);
}

.soulpoppers {
    background: rgba(240, 230, 140, 0.6);
}

.soulogs {
    background: rgba(15, 86, 238, 0.4);
}

.soulmastas {
    background: rgba(15, 238, 210, 0.5);
}

.soulmamaspapas {
    background: rgba(128, 0, 128, 0.5);
}

.soulfreestyle {
    background: rgba(255, 255, 255, 0.5);
}

.soulbreakers {
    background: rgba(197, 133, 12, 0.5);
}
