.courses {
    .card {
        margin-bottom: 20px;
        border-radius: 3px;
        border-color: white;
        background: none;
    }
}

.soulnewbies {
    border: 1px solid rgba(255, 192, 203, 0.5) !important;
}

.soulstarters {
    border: 1px solid rgba(38, 210, 38, 0.6) !important;
}

.soulrookies {
    border: 1px solid rgba(163, 97, 80, 0.5) !important;
}

.soulgyals {
    border: 1px solid rgba(246, 246, 24, 0.6) !important;
}

.soulpoppers {
    border: 1px solid rgba(240, 230, 140, 0.6) !important;
}

.soulogs {
    border: 1px solid rgba(15, 86, 238, 0.4) !important;
}

.soulmastas {
    border: 1px solid rgba(15, 238, 210, 0.5) !important;
}

.soulmamaspapas {
    border: 1px solid rgba(128, 0, 128, 0.5) !important;
}

.soulfreestyle {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.soulbreakers {
    border: 1px solid rgba(197, 133, 12, 0.5) !important;
}
