.schedule {
    .timetable {
        h5 {
            margin-top: 15px;
            padding: 5px;
            background: rgba(255,255,255,0.2);
            font-size: 1.3em;
            text-align: center;
        }

        h6 {
            font-size: 1.1em;
            text-align: center;
        }

        .time-block {
            margin: 6px 0;
            border: 1px solid grey;
            padding: 8px;

            span {
                display: block;

                &:nth-child(1) {
                    font-size: 0.9em;
                    text-align: right;
                }

                &:nth-child(2) {
                    font-size: 1.2em;
                }

                &:nth-child(3) {
                    font-size: 0.9em;
                }
            }
        }
    }

    .describtion {
        tr {
            td:first-child {
                font-weight: bold;
            }
        }
    }

    .soulogs1 {
        background: rgba(255, 255, 255, 0.2);
    }

    .soulogs2 {
        background: rgba(255, 255, 0, 0.2);
    }

    .soulrookies {
        background: rgba(255, 0, 255, 0.2);
    }

    .soulmamas {
        background: rgba(0, 255, 255, 0.2);
    }

    .soulstarters {
        background: rgba(0, 0, 255, 0.2);
    }

    .soulbreakers {
        background: rgba(125, 125, 125, 0.2);
    }

    .soulpoppers {
        background: rgba(125, 125, 0, 0.2);
    }

    .soulnewbies {
        background: rgba(0, 125, 0, 0.2);
    }

    .soulgyals {
        background: rgba(0, 125, 125, 0.2);
    }
}
