#mentors {
    width: 100%;
    /*background-color: #352f46;*/
    background-color: black;
}

#mentors .table {
    display: table;
}

#mentors .cell {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

#mentors .inner-cell {
    float: left;
    width: 50%;
}

#mentors .cell img {
    display: block;
    height: 100%;
}

#mentors h4 {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 3vw;
    font-weight: 400;
    font-size: 3.4em;
}

#mentors .inner-cell > div {
    margin: 10px 20px 10px 20px;
}

#mentors .cell p {
    margin-top: 10px;
}

#mentors .inner-cell .btn-controls {
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
