.signup {
  form {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .representative {
    margin-bottom: 10px;
    .card {
      background-color: transparent;
      border: 1px solid grey;
    }
  }
  .submit {
    background-color: $hover-color;
    border: 0;
    &:hover {
      background-color: #007bff;
    }
  }

}
